/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  font-family: 'Grand Hotel', cursive;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/**BASE STYLES**/

h4{
font-family:'Grand Hotel', cursive;
font-size: 50px;
}

h5{
font-family: 'Grand Hotel', cursive;
font-size: 35px;
}

p{
font-family: 'Inconsolata', monospace;
font-size: 25px;
}

.content-wrapper{
  width: 100%;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

figure {
 margin: 0;
}

.section-divider {
   height: 25px;
   width: 100%;
   background-color: white;
}

/**HEADER**/

header{
    font-family:'Inconsolata', monospace;
    font-size: 12px;
    background-color:#ff8f1a;  
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .content-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    flex-direction: column;
}

.heading{
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.heading h1{
    padding: 10px 10px 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
     text-shadow: 1px 1px yellow;
}

nav{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: row wrap;
  padding: 5px 10 15px 10px;
  text-decoration: none;
  width: 100%;
}

nav a{
    padding: 0 15px 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: yellow;
    font-size: 20px;
    text-shadow: 2px 2px black;
}

/**TOP SECTION**/

.top-section{
    text-align:center;
    background: url('../img/orange.jpg');
    background-size: cover;
    background-position: center;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 5px black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 400px;
    color: yellow;
}

.top-section h2{
    padding: 5px 0 90px 0;
    margin: 0;
    font-size:65px;
    height: 50%;
}

.top-section h3{
    padding: 90px 0 10px 0;
    font-size:45px;
    margin: 0;
    height: 50%;
}


/**PORTFOLIO**/


 #portfolio{
    background: url('../img/unsplash.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#portfolio .content-wrapper{
    padding-bottom: 20px;
    flex-direction: column;
    justify-content: center;
    width: 90%;
}

.portfolio-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}

.row,
.row-two{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 0px;
    padding: 10px 0 10px 0;
}


.row-description,
.row-description-two{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 10px 10px 0 10px;
}

.row h5,
.row-two h5,
.row p,
.row-two p{
   display: flex;
   justify-content: center;
   align-items: center; 
}

.row h5,
.row-two h5{
    margin: 0;
}

.row figure img,
.row-two figure img{
    width: 100%;
    padding: 0 10px 50px 10px; 
}

/**ABOUT**/

#about{
    background: url(https://i.pinimg.com/736x/6d/b7/09/6db7093c23349bd9053c0b62b81b8fc3.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about .content-wrapper{
    padding: 20px;
    width: 90%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#about h4{
    text-align: center;
    margin: 30px 0 20px 0;
    color: white;
}

.about-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.about-paragraph{
    text-align: left;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,.6);
    border: 1px solid black;
    border-radius: 15px 50px;
}

.about-paragraph p {
  margin: 5%;
  color: #000000;
}

#about img {
    border-style: outset;
    border-color:white;
    border-width: 8px;
    width: 40%;
    padding: 10px;
    height: auto;
    border-radius: 50px 15px;
}

#about figure {
    text-align: center;
}

/**CONTACT**/

#contact{
    background-color:#1676C0;  
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact .content-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
}

#contact h4{
    text-align:center;
    padding: 30px 0 20px 0;
}

.contact-info,
.hire,
.web,
.meet{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 0 40px 0;
}

#contact h5 {
    padding-bottom: 15px;
}

#contact p,
#contact h5{
    color:white;
    margin: 0;
}

.hire p{
    text-decoration: none;
}

#contact .fab {
    color: yellow;
    font-size: 60px;
      text-shadow: 3px 3px black;
}


/**FOOTER**/

footer{
    text-align: center;
    max-height: 15%;
}

footer p{
    color:#4785C2;
    font-family: 'Grand Hotel', cursive;
    margin: 10px 0;
}


/*END OF AUTHOR'S CUSTOM STYLES*/


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width:768px) {
  /*Tablet styles here*/


h1, h2, h3, h4, h5, p, a {

}

.top-section h3 br {
  content:' ';
}
.top-section h3 br:after {
  content:' ';
}

.row-description 
.row-description-two {
     display: flex;
    justify-content: center;
    align-items: center;
}

#portfolio p {
    width: 80%;
}

.contact-info {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
}

.hire,
.web,
.meet {
    width: 31%;
}



}

@media only screen and (min-width:1200px) {
  /*Desktop styles here*/

h1, h2, h3, h4, h5, p, a {
    
}

header .content-wrapper {
    flex-direction: row;
    justify-content: space-between;
}

.heading,
nav {
    width: 40%;
}

.row,
.row-two {
    flex-direction: row;
    padding-bottom: 40px;
}

.row-two {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: row-reverse;
}

.row-description,
.row-description-two {
    width: 35%;
    height: 100%;
    justify-content: flex-start;
}

#portfolio figure {
    width: 50%;
}

#portfolio a {
   width: 100%;
}

.about-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
  
}



